body {
    background: white;
}

.thumbnail img {
    width: 100%;
    height: auto;
}

.thumbnail {
    padding: 0;
}

.caption {
    text-align: center;
}

.thumbnail p {
    text-align: center;
}

.thumbnail .caption-full {
    padding: 9px;
}

.backLink {
    text-align: center;
}

.trademark {
    text-align: center;
    font-size: 8px;
}

#delete-form {
    display: inline;
}